html,
 body {
    background-color: white; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

 
ul {
     margin: 0;
     padding: 0;
}

.wrapper {
    flex: 1;
    padding: 0px;
}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.toolsWrapper {
    box-sizing: border-box;
    clear: both;
}

.box-left {
    float: left;
    padding: 2px;
    padding-top: 15px;
}

.box-right {
    float: left;
    padding: 2px;
}

.radioDark:checked {
    background-color: #BDD7EE; 
    border-color: #EEEEEE; 
}

.radioLight:checked{
    background-color: #DDEBF7; 
    border-color: #EEEEEE; 
}

.radioWhite:checked{
    background-color: #FFFFFF; 
    border-color: #EEEEEE; 
}

.bottom {
    background-color: white;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.linkitekst:visited, .linkitekst:link {
    color:rgba(28, 53, 122, 1);
    text-decoration: none;
    font-weight: bold;
}
.linkitekst:hover, .linkitekst:active {
    color:rgba(28, 53, 122, 1);
    text-decoration: underline;
    font-weight: bold;
}    

.linkknap:visited, .linkknap:link, .linkknap:hover, .linkknap:active {
    color:rgba(28, 53, 122, 1);
    text-decoration: none;
}

 .ms-welcome__header {
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
 }

 .ms-welcome__main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: left;
    align-items: left;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 10px 10px;
 }
 
 .ms-welcome__main > h2 {
     width: 100%;
     text-align: left;
     margin-bottom: 5px;
 }
 
 .ms-welcome__features {
     list-style-type: none;
     margin-top: 10px;
 }
 
 .ms-welcome__features.ms-List .ms-ListItem {
     padding-bottom: 20px;
     display: -webkit-flex;
     display: flex;
 }
 
 .ms-welcome__features.ms-List .ms-ListItem > .ms-Icon {
     margin-right: 10px;
 }
 
 .ms-welcome__action.ms-Button--hero {
     margin-top: 10px;
 }
 
.ms-Button.ms-Button--hero .ms-Button-label {
  color: #1C357A;
  font-size:larger;
}

.ms-Button.ms-Button--hero:hover .ms-Button-label,
.ms-Button.ms-Button--hero:focus .ms-Button-label{
  color: #1C357A;
  cursor: pointer;
}

b {
    font-weight: bold;
}
.dropdown {
    padding:5px;
    font-size: 16px;
    margin-top:5px;
    margin-bottom:5px;
    width: 100%;
}

.topmenu {
    margin:10px 0px 0px 0px;
    padding:10px;
    border-top: solid 2px rgba(28, 53, 122, 1);
    border-bottom: solid 1px rgba(28, 53, 122, 1);
}

.icon {
    margin-right:5px;
    color: #991426;
    cursor: pointer;
}

.topicon {
    margin-right:10px;
    color: rgba(153, 20, 38, 0.5);
    cursor: pointer;
}

.topicon:hover {
    color:  rgba(153, 20, 38, 1);
    cursor: pointer;
}

.helpicon {
    margin-right:10px;
    color: rgba(153, 20, 38, 1);
    cursor: pointer;
}

.skjult {
    display:none;
}

.overskrift {
    margin:10px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    font-size:x-large;
    font-weight:bold; 
    /*border-bottom: dashed 1px rgba(28, 53, 122, 1);*/
}

.overskrift2 {
    font-size:medium;
    font-weight:bold; 
}

.overskrift3 {
    margin: 5px 0px 0px 0px;;
    font-size:normal;
    font-weight:bold; 
}



#skabeloner{display:block;}
#tools, #tools_overskrift, #dev, #dev_overskrift, #news, #news_overskrift, #about, #about_overskrift{display:none;}

.version-history {
    margin: 20px 0;
    padding: 10px;
    border-left: 2px solid rgba(28, 53, 122, 1);; /* Accent color */
    background-color: #f9f9f9;
  }
  
  .version-history p {
    margin: 5px 0;
    font-family: Arial, sans-serif;
  }
  
  .version-history ul {
    margin: 10px 0 0 20px;
    padding: 0;
    list-style-type: disc;
  }
  
  .version-history li {
    margin: 5px 0;
  }

#about p {
    margin-top: 2px;
}

#about ul {
    margin: 20px 20px 20px 20px;
    padding: 0;
    list-style-type: disc;
}

#about li {
    margin: 5px 0;
}

.breaking-bar {
    width: 100vw; /* Ensures it never exceeds viewport width */
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    margin:0px 0px 0px 0px;
    padding:0px;
    border-bottom: solid 0px rgba(28, 53, 122, 1);
}

.breaking-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: breaking-marquee 12s linear infinite;
}

@keyframes breaking-marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}